<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>goagent</string>
		<key>ClassName</key>
		<string>GAGoAgentService</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>goagent 服务端部署</string>
		<key>ClassName</key>
		<string>GAGoAgentServerService</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>西厢第3季</string>
		<key>ClassName</key>
		<string>GAWestChamberService</string>
	</dict>
</array>
</plist>
