<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>GAGoAgentService</string>
	<string>GAGoAgentServerService</string>
	<string>GAWestChamberService</string>
	<string>GASSHService</string>
	<string>GAStunnelService</string>
	<string>GAShadowSocksService</string>
	<string>GAGoAgentUpdateService</string>
</array>
</plist>
