<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoAgent:Local:Port</key>
	<string>8087</string>
	<key>GoAgent:Local:AppId</key>
	<string></string>
	<key>GoAgent:Local:ServicePassword</key>
	<string></string>
	<key>GoAgent:Local:GAEProfile</key>
	<real>0</real>
	<key>GoAgent:Local:ConnectMode</key>
	<integer>0</integer>
	<key>GoAgent:Local:ProxyEnabled</key>
	<false/>
	<key>GoAgent:Local:ProxyHost</key>
	<string></string>
	<key>GoAgent:Local:ProxyPort</key>
	<string>8080</string>
	<key>GoAgent:Local:ProxyUsername</key>
	<string></string>
	<key>GoAgent:Local:ProxyPassword</key>
	<string></string>
	<key>GoAgent:AutoToggleSystemProxySettings</key>
	<true/>
	<key>GoAgent:Local:PACEnabled</key>
	<false/>
	<key>GoAgent:Local:CrlfEnabled</key>
	<false/>
	<key>GoAgent:AutoToggleSystemProxyWithPAC</key>
	<true/>
	<key>GoAgent:UseCustomPACAddress</key>
	<false/>
	<key>GoAgent:CustomPACAddress</key>
	<string></string>
	<key>WestChamber:GoAgentProxyServer</key>
	<string>goagent-hrd.appspot.com</string>
	<key>WestChamber:RemoteDNS</key>
	<string>168.95.1.1</string>
	<key>WestChamber:LocalPort</key>
	<integer>1989</integer>
	<key>GoAgentX:SelectedService</key>
	<string>GAGoAgentService</string>
	<key>WestChamber:GoAgentProxyPassword</key>
	<string></string>
	<key>SSH:RemotePort</key>
	<string>22</string>
	<key>SSH:LocalPort</key>
	<integer>7070</integer>
	<key>SSH:UsePublicKeyForLogin</key>
	<false/>
	<key>SSH:AutoReconnect</key>
	<true/>
	<key>Stunnel:LocalPort</key>
	<string>8800</string>
	<key>Stunnel:SSLVersion</key>
	<integer>2</integer>
	<key>GoAgent:DontAutoToggleSystemProxySettings</key>
	<false/>
</dict>
</plist>
